API_KEY =
PROMPT_FILE = 'input/prompt.md'

ANKI_URL = 'http://localhost:8765/'
DECK_NAME =

LOCAL_VAULT =
INBOX_FOLDER = '00_Inbox'
MAIN_NOTES_FOLDER = '01_Notes'

STATE_FOLDER = 'data'

INCLUDE_TAGS = []
EXLUDE_TAGS = []

MAX_RETRIES_ON_ANKI_DUBLICATE_CARD = 3